@page "/admin/votes/{ID}"
@inherits Admin
@layout AdminLayout

<h3>Detail</h3>

@code {
    [Parameter]
    public string? ID { get; set; }


    protected override async Task OnInitializedAsync()
    {
        
    }
}
