@page "/admin/votes"
@inherits Admin
@layout AdminLayout

<h3>Index</h3>

@code {

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);
    }
}
